<div class="section dashboard">
    <div class="content-padding">
        <p class="section-title">Add Income</p>
    </div>
</div>

<div class="section-content-v2">
    <form class="form" [formGroup]="form">
        <div class="form__group">
            <label for="name">Name<span class="text-red-500">*</span></label>
            <input type="text" id="name" placeholder="Name" formControlName="name">
        </div>

        <div class="form__group">
            <label for="amount">Amount<span class="text-red-500">*</span></label>
            <input type="number" id="amount" placeholder="Amount" formControlName="amount">
        </div>

        <div class="form__group">
            <label for="wallet">Wallet<span class="text-red-500">*</span></label>
            <p-select [options]="wallets" placeholder="Wallet" formControlName="wallet" optionLabel="name" optionValue="id" />
        </div>

        <div class="form__group">
            <label for="amount">Date<span class="text-red-500">*</span></label>
            <p-datepicker formControlName="date" dateFormat="dd/mm/yy" placeholder="Date" />
        </div>
    </form>
</div>

<button class="form__btn create__btn" [disabled]="!form.valid" (click)="submitIncome()">
    @if(isLoading) {
    <app-spinner></app-spinner>
    } @else {
        Submit
    }
</button>