<div class="transactions content-padding">
    <div class="flex justify-between items-center mb-5">
        <p class="title !mb-0">Transactions history</p>
        <p class="subtitle cursor-pointer">See all</p>
    </div>
    <div class="transactions__items">
        <div class="transactions__card">
            <div class="transactions__card-image">
                <img src="/icons/fuel.svg" alt="">
            </div>
            <div class="transactions__card-info">
                <p class="name">Patrol</p>
                <p class="date">20 Feb, 2025</p>
            </div>
            <p class="transactions__card-money green">850.00</p>
        </div>
        
        <div class="transactions__card">
            <div class="transactions__card-image">
                <img src="/icons/fuel.svg" alt="">
            </div>
            <div class="transactions__card-info">
                <p class="name">Patrol</p>
                <p class="date">20 Feb, 2025</p>
            </div>
            <p class="transactions__card-money green">850.00</p>
        </div>
    </div>
</div>