.transactions {
  height: calc(100vh - 450px);
  overflow: auto;

  .subtitle {
    transition: all 0.1s ease-in;

    &:hover {
      color: #63b5ae;
      transition: all 0.1s ease-in;
    }
  }

  &__card {
    @apply flex items-center gap-4 px-2 py-3 rounded-2xl;
    background-color: #1c1c1e;
    border: 2px solid #2c2c2e;

    @media screen and (min-width: 450px) {
      background-color: #1c1c1e;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &-image {
      @apply flex justify-center items-center;
      background-color: #2c2c2e;
      border-radius: 100px;
      width: 50px;
      height: 50px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &-info {
      .name {
        @apply font-semibold;
        font-size: 16px;
        color: #fff;
      }

      .date {
        font-size: 13px;
        color: #8e8e93;
      }
    }

    &-money {
      @apply ml-auto font-semibold;
      font-size: 18px;

      &.green {
        color: #30d158;
      }

      &.red {
        color: #ff453a;
      }
    }
  }
}
