<div class="section dashboard">
    <div class="content-padding">
        <p class="section-title">{{id ? 'Edit' : 'Add'}} Expense</p>
    </div>
</div>

<div class="section-content-v2">
    <form class="form" [formGroup]="form">
        <div class="form__group">
            <label for="name">Name<span class="text-red-500">*</span></label>
            <input type="text" id="name" placeholder="Name" formControlName="name">
        </div>

        <div class="form__group">
            <label for="last_name">Type<span class="text-red-500">*</span></label>
            <p-select [options]="expenseTypes" formControlName="type" optionLabel="name" placeholder="Type"
                class="w-full" />
        </div>

        <div class="form__group">
            <label for="amount">Amount<span class="text-red-500">*</span></label>
            <input type="number" id="amount" placeholder="Amount" formControlName="amount">
        </div>

        <div class="form__group">
            <label for="amount">Date<span class="text-red-500">*</span></label>
            <p-datepicker formControlName="date" dateFormat="dd/mm/yy" placeholder="Date" />
        </div>

        <div class="form__group">
            <div class="flex gap-2 items-center">
                <p-checkbox formControlName="selfTransfer" [binary]="true" inputId="selfTransfer"/>
                <label for="selfTransfer" class="!mb-0">Self Transfer</label>
            </div>
        </div>
        
        <div class="form__group">
            @if(!form.value.selfTransfer) {
                <label for="wallet">Wallet<span class="text-red-500">*</span></label>
            } @else {
                <label for="wallet">From Wallet<span class="text-red-500">*</span></label>
            }
            <div class="grid gap-2 grid-cols-1 md:grid-cols-2">
                @for(wallet of wallets; track wallet.id) {
                    <div class="wallet__card" [class.active]="wallet.id === form.value.wallet.id" (click)="form.patchValue({wallet: wallet})">
                        <p>{{wallet.balance | currency:'INR'}}</p>
                        <span>{{wallet.name}}</span>
                    </div>
                }
            </div>
        </div>

        @if(form.value.selfTransfer) {
            <div class="form__group">
                <label for="selfTransferWallet">To Wallet<span class="text-red-500">*</span></label>
                <div class="grid gap-2 grid-cols-1 md:grid-cols-2">
                    @for(wallet of wallets; track wallet.id) {
                        <div class="wallet__card" [class.active]="wallet.id === form.value.selfTransferWallet.id" (click)="form.patchValue({selfTransferWallet: wallet})">
                            <p>{{wallet.balance | currency:'INR'}}</p>
                            <span>{{wallet.name}}</span>
                        </div>
                    }
                </div>
            </div>
        }
    </form>
</div>

<button class="form__btn create__btn mb-[26px]" [disabled]="!form.valid" (click)="submitExpense()">
    @if(isLoading) {
    <app-spinner></app-spinner>
    } @else {
        Submit
    }
</button>