<div class="section dashboard">
    <div class="content-padding">
        <p class="section-title">Wallet</p>
    </div>
</div>

<div class="section-content wallet">
    <div class="wallet__balanace">
        <p>Availalbe Wallet: <span>{{totalIncome | currency:'INR'}}</span></p>
    </div>

    <div class="form__group">
        <label for="type">Month</label>
        <p-multiselect [options]="months" placeholder="Month" [(ngModel)]="selectedMonth" (onSelectAllChange)="getIncomes()" (onChange)="getIncomes()"/>
    </div>

    <!-- <p class="title">Income history</p> -->
    <div class="flex justify-between items-center mb-5">
        <p class="title !mb-0">Income history</p>
        <p class="subtitle cursor-pointer" [routerLink]="['/incomes/add']">Add Income</p>
    </div>


    @for(item of incomes; track item) {
    <div class="wallet__card cursor-pointer" [routerLink]="['/incomes/edit', item.id]">
        <button (click)="setSelectedItem(item)" class="close-btn"><img src="/icons/close-red.svg" alt=""></button>

        <div class="wallet__card-image">
            <img src="/icons/money-bag.svg" alt="">
        </div>
        <div class="wallet__card-info">
            <p class="name">{{item.name}}</p>
            <p class="date">{{item.date}}</p>
        </div>
        <p class="wallet__card-money green">{{item.amount | currency: 'INR'}}</p>
    </div>
    }


    @if(!incomes.length) {
    <p class="text-center">No Incomes Found This Month!</p>
    }
</div>

<app-delete [name]="selectedItem?.name" (onDelete)="deleteIncome(selectedItem)" (onCancel)="onCancel()"></app-delete>
