.transactions {
    &__card {
        @apply flex items-center gap-4 px-2 py-3 bg-gray-50 rounded-2xl relative;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &-image {
            @apply flex justify-center items-center;
            background-color: #F0F6F5;
            border-radius: 100px;
            width: 50px;
            height: 50px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        &-info {
            .name {
                @apply font-semibold;
                font-size: 16px;
                color: #000;
            }

            .date {
                font-size: 13px;
                color: #666666;
            }
        }

        &-money {
            @apply ml-auto font-semibold;
            font-size: 18px;

            &.green {
                color: #25A969;
            }

            &.red {
                color: #F95B51;
            }
        }

        .close-btn {
            position: absolute;
            top: -4px;
            right: -4px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.add-btn {
    img {
        width: 20px;
    }
}

.custom-drawer {
    &.p-drawer {
        width: 450px;
        margin: 0 auto;
        border-radius: 24px 24px 0 0;
    }

    &.p-drawer-bottom {
        justify-content: flex-start;
        padding: 24px;
        height: auto;
    }
}