<div class="section dashboard">
    <div class="content-padding">
        <p class="section-title">Expenses</p>
    </div>
</div>

<div class="section-content transactions">
    <div class="flex gap-4 justify-end">
        <button class="add-btn !ml-0" [routerLink]="['/expenses/add']">Add Expense</button>
        <button class="add-btn !ml-0" (click)="onFilter()">
            <img src="/icons/filter-white.svg" alt="">
        </button>
    </div>
    @if(isLoading) {
    <app-spinner></app-spinner>
    } @else {
    @for(item of expenses; track item) {
    <div class="transactions__card">
        <button (click)="deleteExpense(item)" class="close-btn"><img src="/icons/close-red.svg" alt=""></button>
        <div class="transactions__card-image">
            <img [src]="getIcon(item?.type?.type)" alt="">
        </div>
        <div class="transactions__card-info">
            <p class="name">{{item?.name}}</p>
            <p class="date">{{item?.date}}</p>
        </div>
        <p class="transactions__card-money green">{{item?.amount | currency: 'INR'}}</p>
    </div>
    }

    @if(!expenses.length) {
    <p class="text-center">No Expenses Found!</p>
    }
    }
</div>
<p-drawer [(visible)]="filter" position="bottom" styleClass="custom-drawer"> 
    <ng-template #headless>
        <app-transactions-filter (close)="filter = false" (onFilterEmit)="onFilteration($event)" [data]="filterValue" (onClearFilterEmit)="getExpenses()"></app-transactions-filter>
    </ng-template>
</p-drawer>
