<div class="section dashboard">
    <div class="content-padding">
        <p class="section-title">Expenses</p>
    </div>
</div>

<div class="section-content transactions">
    <button class="add-btn" [routerLink]="['/expenses/add']">Add Expense</button>
    @if(isLoading) {
    <app-spinner></app-spinner>
    } @else {
    @for(item of expenses; track item) {
    <div class="transactions__card">
        <div class="transactions__card-image">
            <img [src]="getIcon(item?.type?.type)" alt="">
        </div>
        <div class="transactions__card-info">
            <p class="name">{{item?.name}}</p>
            <p class="date">{{item?.date}}</p>
        </div>
        <p class="transactions__card-money green">{{item?.amount | currency: 'INR'}}</p>
    </div>
    }

    @if(!expenses.length) {
    <p class="text-center">No Expenses Found!</p>
    }
    }
</div>