<div class="section dashboard">
    <div class="content-padding">
        <p class="section-title">Expenses</p>
    </div>
</div>

<div class="section-content pb-8 transactions">
    
    <div class="flex gap-4 justify-between">
        <div class="transactions__total">
            <p>{{totalExpense | currency:'INR'}}</p>
        </div>
        <div class="flex gap-4">
            <button class="add-btn !ml-0" [routerLink]="['/expenses/add']">Add Expense</button>
            <button class="add-btn !ml-0" (click)="onFilter()">
                <img src="/icons/filter-white.svg" alt="">
            </button>
        </div>
    </div>

    <div class="transactions__search">
        <input type="text" name="search" id="" placeholder="Search.." #search (input)="onSearch(search.value)">
    </div>

    @if(isLoading) {
    <app-spinner></app-spinner>
    } @else {
    @for(item of expenses; track item) {
    <div class="transactions__card cursor-pointer" [routerLink]="['/expenses/edit', item.id]">
        <button (click)="setSelectedItem(item)" class="close-btn"><img src="/icons/close-red.svg" alt=""></button>
        <div class="transactions__card-image">
            <img [src]="getIcon(item?.type?.type)" alt="">
        </div>
        <div class="transactions__card-info">
            <p class="name">{{item?.name}}</p>
            <p class="date">{{item?.date}}</p>
        </div>
        <p class="transactions__card-money green">{{item?.amount | currency: 'INR'}}</p>
    </div>
    }

    @if(!expenses.length) {
        <p class="text-center">No Expenses Found For This Month!</p>
    }
    }
</div>
<p-drawer [(visible)]="filter" position="bottom" styleClass="custom-drawer"> 
    <ng-template #headless>
        <app-transactions-filter (close)="filter = false" (onFilterEmit)="onFilteration($event)" [data]="filterValue" (onClearFilterEmit)="getExpenses()"></app-transactions-filter>
    </ng-template>
</p-drawer>

<app-delete [name]="selectedItem?.name" (onDelete)="deleteExpense(selectedItem)" (onCancel)="onCancel()"></app-delete>